@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edede9;
}

header img {
  width: 60%;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Merriweather", serif;
}

ul {
  margin: 2px;
  padding: 1px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  background-color: #f96305;
}

h1 {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px;
  padding: 10px;
}

p {
  align-items: center;
  text-align: center;
  margin: 25px;
}

.logo {
  display: flex;
}

.videos {
  display: flex;
  justify-content: space-around;
}

.mi-vi {
  display: flex;
  align-items: center;
  text-align: center;
}

/*hostels*/
#hostels {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  background-color: #edede9; }

.hostels1 {
  grid-column: 1 / 13;
  grid-row: 2;
  text-align: center; }

.hostels2 {
  grid-column: 2 / 12;
  grid-row: 3;
  text-align: center;
  font-size: larger; }

.Habitacion1 {
  grid-column: 2 / 12;
  grid-row: 4;
  text-align: center; }

.Habitacion2 {
  grid-column: 2 / 12;
  grid-row: 5;
  text-align: center; }

.Habitacion3 {
  grid-column: 2 / 12;
  grid-row: 6;
  text-align: center; }

.productos {
  display: flex;
  margin: 20px;
  justify-content: space-around; 
  text-align: center; }

.card, .card button:hover {
  transition: 0.3s;
  width: 100%;
  object-fit: cover;
  border: #f96305 solid 5px;
  border-radius: 5px;
  margin: 5px; }

.card:hover, .card button:hover {
  object-fit: cover;
  border: #f96305 solid 2px;
  border-radius: 2px; }

.card button, .card button:hover button {
  font-family: 'roboto';
  border: none;
  padding: 1px;
  color: white;
  background-color: #f96305;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px; }

.card button:hover {
  border: #05243b solid 3px; }


  

/* Footer */

h2 {
  list-style: none;
}

footer {
  background-color: #f96305;
  color: #000000;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: #000000;
}

.ft-title {
  color: #000000;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Footer main */
.ft-main {
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

  /* 477px */
) {
  .ft-main {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 768px
) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
  display: flex;
  justify-content: center;
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

/* Footer legal */

.ft-legal-list {
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}



@media screen and (max-width: 2300px) {
  #productos #hostels {
    display: block;
    text-align: center;
    position: relative; }
 
  }
  @media screen and (max-width: 768px) {
    .productos {
      display: block;
      width: 98%; }
    .logo {
      display: none; }
    li {
      display: block;
      margin: 0;
      padding: 10px;
      list-style: none;
      border-bottom: 1px solid grey; } }